/************************* The Search ****************************/

:root {
  --primary-white: #ffffff;
  --primary-dark: rgba(255,255,255, 0);
}

.header-wraper {
  position: relative;
  background: url('../src/images/wall-and-laptop-background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.45rem;
  margin-left: 0.45rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  margin-left:  1.125rem !important;
}

.header-title {
  color: var(--primary-white);
  text-transform: uppercase;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}