.job-search {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1366px;
}

.body {
  align-items: flex-end;
  display: flex;
  min-width: 1366px;
  z-index: 1;
}

.overlap-group {
  height: 871px;
  margin-bottom: 0;
  position: relative;
  width: 1366px;
}

.background {
  background-position: 50% 50%;
  background-size: cover;
  height: 871px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1366px;
}

.l-ist-of-jobs {
  cursor: pointer;
  height: 615px;
  left: 673px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  transition: all 0.2s ease;
  width: 660px;
}

.l-ist-of-jobs:hover,
.l-ist-of-jobs-1:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.l-ist-of-jobs-1 {
  cursor: pointer;
  height: 615px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  transition: all 0.2s ease;
  width: 660px;
}

.header {
  align-items: flex-start;
  display: flex;
  height: 74px;
  left: 0;
  min-width: 1366px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.overlap-group1 {
  height: 74px;
  position: relative;
  width: 1366px;
}

.header-1 {
  background-color: var(--swans-down);
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1366px;
}

.text-field-outlined {
  height: 56px;
  left: 1096px;
  position: absolute;
  top: 9px;
  width: 230px;
}

.icon-awesome-joget {
  height: 41px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 41px;
}

.text-field-outlined .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
